#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 149, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 166, 255);
}
button:active{
    background-color: rgb(0, 119, 255);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
    border: solid 2px;
    border-radius: 13px;margin-bottom: 30px;
}

#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
    margin: 5px;
}